* {
    margin: 0;
    padding: 0;

  }
  
body {
	/* display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center; */
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: lightgrey;
    margin: 30px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px; 
    border-style: solid;
    border-color: lightgrey;   */
}

h1 {
    font-size: 42px;
}

h2 {font-size: 21px;}

.cont1-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    border-color: cccccc;
    border-radius: 42px;
    border: 1px; 
    border-style: solid;
    border-color: lightgrey;  
}


.cont2-1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    width: 100%;
    min-height: 100px; /* added */
    height: auto;    
    padding: 10px;
    border-color: cccccc;
    border-radius: 42px;
    border: 1px; 
    border-style: solid;
    border-color: lightgrey;  
}

.cont3-1 { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
    color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    border-color: cccccc;
    border-radius: 42px;
    border: 1px; 
    border-style: solid;
    border-color: lightgrey;  
}

.bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    border-color: cccccc;
    border-radius: 42px;
    border: 1px; 
    border-style: solid;
    border-color: lightgrey;  
}